* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: aliceblue;
  margin-left: 10px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

#navbar {
  background-color: #9fc044;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__mypage {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}
